<%= form_for @suggestion do |f| %>
	<% if @suggestion.errors.any? %>
	<div id="errorExplanation">
		<h2><%= pluralize(@suggestion.errors.count, "error") %> prohibited this suggestion from being saved:</h2>
		<ul>
		<% @suggestion.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>
	<table>
	<tr>
		<td><%= f.text_area :comment %></td>
	</tr>
	</table>
	<p>
		<%= f.submit %>
	</p>
<% end %>